.searchBox {
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid #000;
}

.button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px 5px;
  background-color:mediumaquamarine;
}

.input {
  height: 30px;
  width: 600px;
}